.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
}

.App > *:first-child {
  flex: 0 0 300px;
  background-color: blue;
}

.App > *:last-child {
  flex: auto;
  background-color: red;
}
