.main {
  padding: 16px calc(100vw / 12);
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about {
  > h2 {
    margin: 1.5rem 0;
    font-size: 32px;
  }
  > p {
    margin-bottom: 1rem;
  }
}

.bolder {
  font-weight: bolder;
}

.overallDescription {
  > h3 {
    font-size: 28px;
    margin: 1.5rem 0;
  }
}

.caution {
  > h4 {
    font-size: 24px;
    margin: 1.5rem 0;
  }
  > ul {
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    > li {
      > ul {
        padding-left: 40px;
      }
    }
  }
}

.constituteSection {
  > h4 {
    margin: 24px 0;
    font-size: 24px;
  }
  > hr {
    margin: 16px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.constituteDetails {
  display: flex;
  gap: 30px;
  > div {
    flex: 1;
    > h5 {
      font-size: 20px;
      margin: 8px 0;
      line-height: 1;
    }
  }
}

.moreDetail {
  display: inline-block;
  margin: 16px 0;
}

.userListSection {
  padding: 1rem 0;
}

.sampleCodeSection {
  > h3 {
    font-size: 28px;
    margin: 24px 0;
  }
  > h3 + p {
    margin-bottom: 16px;
  }

  > h3 + p + div {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
}

.sampleCodeItemBody {
  & h5 {
    font-size: 20px;
    margin-bottom: 0.75rem;
    font-weight: 600;
  }
  & dt {
    font-weight: 500;
    font-size: 12.8px;
  }
  & dd {
    margin-bottom: 0.5rem;
    font-size: 12.8px;
  }

  & a:last-of-type {
    font-size: 16px;
  }
}
