.sampleCodeSection {
  > h3 {
    font-size: 28px;
    margin: 24px 0;
  }
  > p {
    margin-bottom: 16px;
  }
}

.sampleCodeList {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  > div {
    @media screen and (max-width: 768px) {
      width: 478px;
    }
  }
}

.sampleCodeItemBody {
  & h5 {
    font-size: 20px;
    margin-bottom: 0.75rem;
    font-weight: 600;
  }
  & dt {
    font-weight: 500;
    font-size: 12.8px;
  }
  & dd {
    margin-bottom: 0.5rem;
    font-size: 12.8px;
  }

  & a:last-of-type {
    font-size: 16px;
  }
}
